extends base

block content
  h1 Lista de Compras dos Componentes

  p
    a.btn.btn-primary(href="/shoplist/csv") CSV

  table
    tr
      th Grupo
      th Componente
      th Case
      th Estoque
      th Necessário
      th A comprar
    each val in shoplist
      tr
        td #{val.gname}
        td
          a(href='/component/' + val.id) #[Strong #{val.cname}]
        td &nbsp;
          if val.case_name != "not set"
            | #{val.case_name}
        td(align="right") #{val.stock}
        td(align="right") #{val.needed}
        td(align="right") #{val.to_buy}
